/* .products {
  padding: 16px 42px;
  background-color: #1a1a1a;
  display: flex;
  height: fit-content;
}


.left {
  flex: 1;
  position: sticky;
  height: 100%;
  color: #999;
  top: 50px;
  border-right: 3px solid #2b2b2b;
}

.filterItem {
  margin-bottom: 30px;
}

.slider input {
  margin: 0 5px;
  position: relative;
  height: 5px;
  
  background: #e6e6e6;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

input[type=checkbox], [type=radio] {
    accent-color: #777;
}

.slider ::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #4760f0;
  border-radius: 50%;
}

h2 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 20px;
  color: #f0f0f0;
}

.inputItem {
  margin-bottom: 10px;
}

label {
  margin-left: 10px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 5;
  padding: 0px 5px;
} */

.product-page-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.banner-container {
  position: relative;
  z-index: 98;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 100%;
  border-radius: 12px;
  box-sizing: border-box;
}
.left {
  left: 0px;
  position: absolute;
  z-index: 99;
}

.right {
  position: absolute;
  right: 0;
}

.embla-b {
  overflow: hidden;
}
.embla__container-b {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.embla__slide-b {
  flex: 0 0 100%;
}

.prev,
.next {
  position: absolute;
  z-index: 99;
}

.prev {
  left: 0;
}

.categories,
.trending {
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  color: #4c7abb;
}

.catergory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.catergory-container-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.catergory-container-top-left {
  display: flex;
  flex-direction: row;
}

.wp,
.pw {
  cursor: pointer;
  position: relative;
  width: 400px;
  height: 400px;
  margin-right: 30px;
  overflow: hidden;
}

.wp img,
.pw img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.7s;
}

.wp img:hover,
.pw img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.catergory-container-top-right {
  display: flex;
  flex-direction: column;
}

.sv,
.acc {
  cursor: pointer;
  position: relative;
  width: 400px;
  height: 184px;
  overflow: hidden;
  margin-bottom: 30px;
}

.sv img,
.acc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.7s;
}

.sv img:hover,
.acc img:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}

.catergory-conatiner-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-eq div {
  cursor: pointer;
  height: 300px;
  width: 1260px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.all-eq img {
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.all-eq img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.eq {
  display: flex;
  width: 100%;
}

.eq div {
  cursor: pointer;
  position: relative;
  width: 400px;
  height: 184px;
  overflow: hidden;
}

.eq img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.eq img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.btn {
  backdrop-filter: blur(10px);
  border: 2px solid #fff;
  border-radius: 120px;
  padding-left: 28px;
  padding-right: 6px;
  z-index: 98;
  bottom: 20px;
  left: 20px;
  position: absolute;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ffffff00;
  border: 2px solid #fff;
  border-radius: 90px;
  padding: 12px 33px 8px;
  font-family: Helveticaneue, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.7s;
}

.all-eq:hover .btn,
.a:hover .btn,
.b:hover .btn,
.c:hover .btn,
.wp:hover .btn,
.pw:hover .btn,
.sv:hover .btn,
.acc:hover .btn {
  background-color: #fff;
  color: #000;
  transition: all 0.7s;
}

.all-eq:hover img,
.a:hover img,
.b:hover img,
.c:hover img,
.wp:hover img,
.pw:hover img,
.sv:hover img,
.acc:hover img {
  transform: scale(1.1);
  transition: all 0.7s;
}

.trending-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.trending-supplements {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.trending-equipments {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
}
