.product-card {
  width: 250px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.link{
  color: inherit;
  text-decoration: none;
}

.product-image {
   width: 100%;
   height: 250px;
   overflow: hidden;
   border-radius: 8px;
}

.product-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-name {
  font-size: 20px;
}

.product-price {
  font-size: 16px;
  color: #b7b3b3;
}

.product-desc{
  font-size: 13px;
  color:  #d3d1ce;
  text-align: left;
}

.info{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.add-to-cart-button {
  position: absolute;
  right: 2%;
  background-color: rgb(76, 122, 187);
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgb(50, 110, 193);
  }
}
