.card {
  width: 350px;
  height: 450px;
  background: rgb(235, 232, 232);
  border: #2b2b2b 3px solid;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  flex-shrink: 0;
  -webkit-box-pack: justify;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 10px;
  transition: all 0.5s ease 0s;
  margin: 10px 40px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  cursor: pointer;
 background-blend-mode: color-dodge;
}

.card:hover {
  transform: scale(1.08);
}

.ex-name {
  margin-top: 12px;
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  
}

.ex-img {
  margin-bottom: 12px;
  width: 200px;
  height: 260px;
  border-radius: 20px;
  object-fit: cover;
  border:#2b2b2b 3px solid
}

.info-muscles {
  display: flex;
  gap: 100px;
}

.bodyPart {
  margin-bottom: 12px;
  padding: 8px;
  border: none;
  background-color: #4c7abb;
  text-transform: capitalize;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  border: #2b2b2b;
}

.targetMuscles {
  margin-bottom: 12px;
  padding: 8px;
  border: none;
  text-transform: capitalize;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
}
