.card-container {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5px;
  row-gap: 90px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  word-spacing:15px
}

.title span {
    color: #4c7abb;
  }

.progress-bar {
  position: fixed;
  top: 20;
  left: 0;
  right: 0;
  height: 10px;
  background:  #4c7abb;
  transform-origin: 0%;
  z-index: 1000;
}
