.suggest-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: -20px !important;
  margin: 0;
  color: #4c7abb;
  padding: 20px 0;
}
.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.similar-ex-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
  width: 100%;
}

.embla-exercise {
  overflow: hidden;
  padding: 30px 0;
}
.embla__container-exercise {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.embla__slide-exercise {
  flex: 0 0 0;
}


.buttonRight,.buttonLeft {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.buttonRight:hover,.buttonLeft:hover {
  background-color: #4c7abb;
  transition: 0.2s;
}

.left-spx {
  width: 91.5%;
}

.right-ex-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
  margin-right: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 20px;
}

.top-left div {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #ebe8e8;
  margin: 50px;
  border-radius: 10px;
}

.top-left img {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 20px;
  border: #2b2b2b 3px solid;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.top-right {
  display: flex;
  flex-direction: column;
}

.exname {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  color: #4c7abb;
  margin-bottom: 10px;
  font-family: "Space Grotesk", sans-serif;
}

.select-level {
  font-size: 30px;
  font-weight: bold;
  color: #4c7abb;
  margin-top: 40px;
  margin-bottom: 30px;
}

.ex-bodyPart,
.ex-equipment,
.ex-target {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  color: white;
  margin: 10px 15px;
  gap: 20px;
}

.reps {
  position: absolute;
  top: 170px;
  right: 100px;
  color: white;
  list-style:none;
  margin-top: 50px;
  margin-left: -500px;
  width: 500px;
  height: max-content;
  border: #2b2b2b 3px solid;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  word-spacing: 3px;
}

.reps li{
  margin: 10px 0;
}

.load-container{
  display:flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1920/800;
}