.offer-hero-banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  width: 100%;
  background: rgb(0, 0, 0);
}

.offer-hero-banner-left {
  height: 500px;
  width: 800px;
  padding-left: 150px;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.offer-hero-banner-left button {
  width: 200px;
  height: 50px;
  border-radius: 12px;
  border: none;
  background-color: #1a1a1a;
  color: #ebe8e8;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-hero-banner-text {
  width: 600px;
  font-size: 26px;
  box-sizing: border-box;
  line-height: 150%;
}

.offer-hero-banner-text h1 {
  line-height: 100%;
  width: max-content;
}

.offer-hero-banner-text span {
  color: #4c7abb;
  text-decoration:underline ;
}

.offer-banner-image {
  width: 800px;
  height: 100%;
}

.offer-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-banner-image::before {
  position: absolute;
  width: 700px;
  height: 100%;
  content: "";
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-left: -1px;
}

.categories{
  color:#4c7abb
}